<div class="row">
  <div class="col-md-1 col-sm-1 node-left">
    <%= image_tag gravatar_url_for(comment.author.email), class: "img-circle img-responsive" %>
    <%= comment.author.username %><br>
    <%#= time_tag comment.created_at %>
  </div>

  <div class="col-md-11 col-sm-11">
    <%= bubble_box do %>
      <article>
        <%= markdown comment.body %>
      </article>
    <% end %>
  </div>
</div>
