<ul class="list-group">
  <li class="list-group-item">
    <%= link_to_unless_current t('administration'), administration_path %>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= Node.count %></span>
    <%= link_to_unless_current t('nodes.index.nodes'), administration_nodes_path %>
  </li>
</ul>