@import "editor/css/jquery-ui-1.11.3";
@import "editor/css/medium-editor";
@import "editor/css/medium-editor-default";
@import "editor/css/style";
@import "editor/css/menu";
@import "editor/css/categories";

h1.ng-invalid {
  background: #FFE0E0;
}

.breadcrumb input[type=text] {
  border: none;
  background: none;
  color: #337ab7;
  border-bottom: 1px dashed #ccc;
}