body {
  background: image-url("prototype.jpg");
}


.gallery {

  .carousel-inner > .item > img {
    margin: 0 auto;
  }

  .carousel-control {
    width: 50%;
  }

  .carousel-control.left,
  .carousel-control.right {
    background: none !important;
  }
}

.options {
  .progress {
    margin-bottom: 0;
  }

  .progress-bar {
    float: right;
  }
}

.fill_in_the_blanks .form-inline {
  margin-top: 20px;
  margin-bottom: 30px !important;

  label {
    font-weight: normal;
    font-size: 120%;
  }
}