.box .node:first-child {
  padding-top: 0
}

.box .node:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.node {
  padding: 10px 0;
  border-bottom: 1px solid $box-border-color;
}

.node .node-body .node-title {
  font-size: 18px;
  margin: 0 0 5px;
  line-height: 20px;
}

.node-left {
  word-wrap: break-word;
  font-size: .9em;
}

.node .popover {
  position: relative;
  display: block;
  width: auto;
  max-width: 100%;
  @include box-shadow(none);

  .popover-content {
    padding: 20px;
  }

  .arrow {
    top: 42px;
    }

  &.right {
    margin-left: 0;
  }
}