<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to new_node_path, class: "btn btn-success btn-lg btn-block" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Node
    <% end %>
  </div>
</div>