<%= div_for image, class: "thumbnail" do %>
  <%= image_tag image.image_url,
                class: "img-responsive",
                alt: image.title,
                title: image.title %>
  <div class="caption">
    <p>
      <%= link_to_unless current_page?(image), image.title, image %>
      <%= link_to(t('common.edit'), edit_image_path(image)) if policy(:image).edit? %>
    </p>
  </div>  
<% end %>
